<div class="row">
	<div class="col-md-7">
	<div class="page-header">
			<h2><%= @client.name %><br/></h2>
			<h4>
			<small>
			<span class="glyphicon glyphicon-briefcase"></span><%= @client.company %> 
			<span class="glyphicon glyphicon-earphone"></span><%=        @client.mobile %> 
			<span class="glyphicon glyphicon-envelope"></span><%= mail_to @client.email %>
			</small></h4>
			</div>
			</div>

			<div class="col-md-5">

			</div>
			</div>

			<div class="row">
				<div class="col-md-12">
				</div>
				</div>
<%= link_to "edit" , edit_client_path(@client.id) %>
<%= link_to "destroy" , client_path(@client.id), data: {method: :delete , confirm: "are you sure?"} %>
<% if @client.projects.empty? %>
No Projects Found!!!
<% else %>
<h3>Total Projects : <%= @client.projects.size %></h3>
<ul>
<% @client.projects.each do |project| %>
	<li><%= link_to project.name , project_path(project.id) %></li>
	<% end %>
	</ul>
	<% end %>

	<p><%=@client.name%>projects are <%= link_to "here" , project_path %>

	<h2>Statistics</h2>
	

	<% data=[]
	@client.projects.each do |project|
	 data.push([project.name,project.start_date,project.end_date])
	end
	%>
	<%= timeline(data) %>
	Inner Join
	<h4>Total tasks for this client is :
	<%= Task.joins(:project).where('projects.client_id = ?', @client.id).size %>
	</h4>

	Select In
	<h4>Total tasks for this client is :
	<%= Task.where(project_id: @client.project_ids).size %>
	</h4>
	