<div class = "row">
	<div class = "col-md-7">

<h3> Listing Projects </h3>
<b> Filter by :
		<%= link_to "New", projects_path(status: "New") %>
		<%= link_to "On-Going", projects_path(status: "On-Going") %>
		<%= link_to "Completed", projects_path(status: "Completed") %>
		<%= link_to "All", projects_path %>
		</b>
		<br/>
<b> Filter by :		
<% current_user.clients.each do |client| %>
	<%= link_to client.name, projects_path(client_id: client.id) %> |
	<% end %>
	</b>	
	<script>
$(document).ready(function(){
    $('#ProductTable').DataTable();
});
</script>
<h4> Total projects : <%= @projects.size %></h4>
<table class="table table-striped" id="ProductTable">
<thead>
<tr>
	<th>Name</th>
	<th>Client</th>
	<th>Start date</th>
	<th>End date</th>
	<th> Status </th>
	<th>Actions</th>
	
	</tr>
	</thead>
	<tbody>
	<% @projects.each do |project| %>
	<tr>
		<td><%= project.name %></td>
		<td><%= project.client.try(:name)  %></td>
		<td><%= project.start_date.strftime("%A, %d %B %Y") %></td>
		<td><%= project.end_date.strftime("%A, %d %B %Y") %></td>
		<td><%= project.status %> </td>

		<td><%= link_to "Show" , project_path(project.id) %>|<%= link_to "destroy",project_path(project.id), method: :delete, data: {confirm: "Are you sure?", remote: true} %></td>
		</tr>
		<% end %>


		
		</tbody>
		<%= link_to "ADD Project", new_project_path %>

	</table>
	
	</div>
	<div class = "col-md-5">
	<div class="page-header">
	<h2>Statistics</h2>
	
	</div>
<% data = {} 

	data["New"] = @new_task.size
	data["On-Going"] = @ongoing_task.size
	data["Completed"] = @comp_task.size
	%>
<%= pie_chart(data) %>
<%= column_chart(data) %>
<%= bar_chart(data) %>

<% 	data={}
	@projects.each do |project|
	data[project.name]=project.tasks.size
	end
	%>
<%= pie_chart(data) %>
<%= column_chart(data) %>
<%= bar_chart(data) %>


</div>
</div>
